<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="SimplyTest">


    <listeners>
        <listener class-name = "utilities.Listeners"></listener>
    </listeners>

    <test name="Sub Total">
        <classes>
            <class name="Tests.SubTotalTest"></class>
        </classes>
    </test>
    <test name="TranEnd">
        <classes>
            <class name="Tests.TranEndTest"></class>
        </classes>
    </test>
    <test name="Point validity">
        <classes>
            <class name="Tests.PointsValidityTest"></class>
        </classes>
    </test>
    <test name="refund test">
        <classes>
            <class name="Tests.TranRefundTest"></class>
        </classes>
    </test>
    <test name="Tren End One Phase">
        <classes>
            <class name="Tests.TranEndOnePhaseTest"></class>
        </classes>
    </test>
    <test name="New member test">
        <classes>
            <class name="Tests.NewMemberTests"></class>
        </classes>
    </test>
    <test name="Join SMS test">
        <classes>
            <class name="Tests.JoinSmsTest"></class>
        </classes>
    </test>
    <test name="Stage 6 And 7 Test">
        <classes>
            <class name="Tests.Stage6And7Test"></class>
        </classes>
    </test>

</suite>